<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top padding-space">
  <a class="navbar-brand" routerLink=" "><img src="assets/img/ALM-Web-Pros-stick.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul *ngIf="(auth.user$ | async)" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard"><i class="fa fa-dashcube" aria-hidden="true"></i> Dasboard </a>
      </li>
      <li *ngIf="isAdmin?.role === 'admin'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/envoices"> Envoices </a>
        </li>
    </ul>
    <ul *ngIf="auth.user$ | async as user; else out" class="navbar-nav ml-auto">
      <!-- notification menu -->
        <li *ngIf="userInfo?.invoice" ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="active nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span @fade class="badge badge-danger">1</span>
            <i class="fa fa-bell fa-1x" aria-hidden="true"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['profile']">Your Profile</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <!-- if have avatar -->
      <li *ngIf="userInfo?.avatarUrl; else noAvatar" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="active nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                <img [src]="userInfo?.avatarUrl" class="rounded-circle" width="36px" height="36px">
        </a>
        <!-- if no have avatar -->
       <ng-template #noAvatar>
          <a ngbDropdownToggle class="active nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i> {{userInfo?.fullname}}
        </a>
       </ng-template>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['profile']">Your Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <button class="btn-link nav-link" (click)="logout()" type="button"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</button>
      </li>
    </ul>
    <ng-template #out>
     
      <ul class="navbar-nav ml-auto">
          <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
          <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="active nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-user fa-1x" aria-hidden="true"></i> Sing up
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="sing-up">As Menber</a>
              <a class="dropdown-item" routerLink="sing-up-clients">As Client</a>
            </div>
          </li>
      </ul>
    </ng-template>
  </div>
</nav>