<div @fade class="row">
  <div class="col-md-12">
    <div class="card">
      <img @inBotom *ngIf="avatar" [src]="avatar" class="rounded float-left avatar hidden-on-print">
      <div *ngIf="serv.services" class="card-body">
        <h3 class="card-title text-center text-muted hidden-on-print">Envoice</h3>
        <hr class="hidden-on-print">
        <form (ngSubmit)="submitEnvoices(f.value)" #f="ngForm" class="hidden-on-print">
          <div class="row">
            <div class="col-md-2">
              <select class="form-control" ngModel name="service">
                <option *ngFor="let service of serv.services | async" [value]="service.serviceName">{{service.serviceName}}</option>
              </select>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <input type="text" name="detail" ngModel class="form-control" id="detail" placeholder="detail">
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="doDate" ngModel ngbDatepicker #d="ngbDatepicker">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="col-md-1 text-center align-middle">
              <button type="submit" class="btn btn-success  btn-block">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
        <hr class="hidden-on-print">
        <br>
        <div *ngIf="general" class="row">
          <div class="col-md-12">
            <div class="pull-left m-t-30">
              <h6>AM Global Group LLC</h6>
              <p>660 S Federal Hwy Ste. 103</p>
              <p>Pompano Beach, FL 333062 USA</p>
              <p class="text-muted">admin@amglobalgroup.com</p>
              <br>
              <h6>Bill To</h6>
              <p>{{general.fullname}}</p>
              <p>{{general.businessName}}</p>
              <p>{{general.address}} {{general.zipcode}}</p>
            </div>
            <div class="pull-right m-t-30">
              <p>
                <b>Envoice #:</b> {{general.uuidCode}}</p>
              <p>
                <b>Date:</b> {{general.date | date: 'shortDate'}}</p>
              <p *ngIf="general.doDate; else noDoDate">
                <b>Do Date:</b> {{general.doDate}}</p>
              <ng-template #noDoDate>
                <p>
                  <b>Do Date:</b>
                  <span class="badge badge-danger">Pedding</span>
                </p>
              </ng-template>
              <p>
                <b>TERMS:</b> {{general.terms}}</p>
            </div>
          </div>
        </div>
        <table></table>
        <br>
        <br>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name Service</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th class="hidden-on-print"></th>
              </tr>
            </thead>
            <tbody>
              <tr @leftFed *ngFor="let item of serviceSet" class="align-middle">
                <td>
                  <h5>{{item?.nameService}}</h5>
                  <p>{{item?.detail}}</p>
                </td>
                <td>
                  {{general?.date | date: 'shortDate'}}
                </td>
                <td>1</td>
                <td>{{item?.price | currency:'USD':true:'4.2'}}</td>
                <td class="hidden-on-print">
                  <button class="btn btn-danger" (click)="removeServiceInVoice(item.nameService)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="hidden-on-print"></td>
                <td @bottomFade *ngIf="total" class="bg-color-print" style="text-align:letf;">
                  <p>
                    <b>SubTotal: </b> {{total | currency:'USD':true:'4.2'}}
                    <br>
                    <b>Tax({{tax}}%):</b> {{plusTaxe}}
                    <br>
                    <b>Total:</b> {{total + plusTaxe | currency:'USD':true:'4.2'}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 text-right hidden-on-print">
            <button class="btn btn-secondary" (click)="openPrint()">
              <i class="fa fa-print" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" (click)="cancelEnvoice()">Cancel</button>
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>