<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          
          <img *ngIf="userProfile?.avatarUrl; else defaultImg" class="rounded-circle" style="width: 150px; height: 150px;" [src]="userProfile?.avatarUrl">
          <ng-template #defaultImg>
            <img class="img-circle" style="width: 150px; height: 150px;" src="assets/img/profile.png" alt="Generic placeholder image">
          </ng-template>
        </div>
        <blockquote class="blockquote text-center">
          <p class="mb-0">{{userProfile?.fullname}}</p>
          <p class="secondary-text">{{userProfile?.position}}</p>
        </blockquote>
        <hr>
        <p>
          Email:
        </p>
        <p class="text-muted">
          {{userProfile?.email}}
        </p>
        <p>
          phone:
        </p>
        <p class="text-muted">
          {{userProfile?.phone}} ext: {{userProfile?.ext}}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <ngb-tabset type="pills">
          <ngb-tab title="Simple">
            <ng-template ngbTabContent>
               <br>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>
                <br>
              Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Edit Profile">
            <ng-template ngbTabContent>
                <br>
              <p class="text-muted">Edit Your proflie</p>
              <hr>
              <div class="separator"><ngb-progressbar showValue="true" type="success" [value]="userServ?.progress"></ngb-progressbar></div>
              
              <upload-avatar [user-id]="uid"></upload-avatar>
             <br>
              <!-- form edit profile -->
                <app-register-form [uid]="uid" [user-data]="userProfile" [main-registration]="false"></app-register-form>
               <!-- form edit profile -->
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>